/****************
*** MENU
*****************/
nav.menu li {
	transition: 0.2s all;
}
nav.menu li.current_page_item + li {
	border-bottom: 2px solid #f37335;
}
nav.menu li:hover {
	border-bottom: 2px solid #f37335;
	color: #f37335;
}
nav.menu li:last-child {
	border: 2px solid #f37335;
	background-color: #f37335;
	color: #fff;
	padding: 10px 25px;
}
nav.menu li:last-child:hover {
	border: 2px solid #f37335;
	background-color: transparent;
	color: #f37335;
}
/****************
*** Hero
*****************/
.hero {
	height: 550px;
	background-image: linear-gradient( to bottom right,
		rgba(1, 61, 32, .85),
		rgba(88, 153, 75, .85)
		),
		url(../image/estate-2.jpg);
	background-size: cover;
	background-position: center;
}