/****************
*** MENU
*****************/
nav.menu li {
	transition: 0.2s all;
}
nav.menu li.current_page_item + li {
	border-bottom: 2px solid #ffffff;
}
nav.menu li:hover {
	border-bottom: 2px solid #ffffff;
	color: #ffffff;
}
nav.menu li:last-child {
	border: 2px solid #013D20;
	background-color: #013D20;
	color: #fff;
	padding: 10px 25px;
}
nav.menu li:last-child:hover {
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
}
/****************
*** Hero
*****************/
.hero {
	height: 600px;
	background-image: linear-gradient( to bottom right,
		rgba(1, 61, 32, .85),
		rgba(88, 153, 75, .85)
		),
		url(../image/estate-2.jpg);
	background-size: cover;
	background-position: center;
}
/****************
*** Pagination
*****************/
.pagination .nav-links a,
.pagination .nav-links .current {
	background-color: #013D20;
	padding: 7px 12px;
	color: white;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
}
.pagination .nav-links .current {
	background-color: #b1b1b1;
}