/****************
*** MENU
*****************/
nav.menu li {
	transition: 0.2s all;
}
nav.menu li.current_page_item + li {
	border-bottom: 2px solid #f37335;
}
nav.menu li:hover {
	border-bottom: 2px solid #f37335;
	color: #f37335;
}
nav.menu li:last-child {
	border: 2px solid #f37335;
	background-color: #f37335;
	color: #fff;
	padding: 10px 25px;
}
nav.menu li:last-child:hover {
	border: 2px solid #f37335;
	background-color: transparent;
	color: #f37335;
}
/****************
*** Hero
*****************/
.hero {
	height: 600px;
	background-image: linear-gradient(
			rgba(0, 51, 153, 0.85),
			rgb(0, 51, 153, 0.85)
		),
		url(../images/banner-1.jpg);
	background-size: cover;
	background-position: center;
}